@font-face {
    font-family: "outfit-light";
    src: url(polices/Outfit-Light.ttf) format("truetype") ;
}
@font-face {
    font-family: "outfit-regular";
    src: url(polices/Outfit-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "outfit-semiBold";
    src: url(polices/Outfit-SemiBold.ttf) format("truetype");
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:hsl(217, 54%, 11%);
}

.card__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    border: 3px solid hsl(216, 50%, 16%);
    border-radius: 4%;
    margin: auto;
    margin-top: 40px;
    width: 320px;
}

.card__image{
    width: 280px;
    height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative; 
    cursor: pointer;
    background-color: hsl(178, 100%, 50%);
    border-radius: 5%;
 
}
.overlay {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.view{
    opacity: 0;
}

.card__image:hover > img{
    opacity: 0.4;
  
}
.card__image:hover > .overlay > .view{
    opacity: 1;
}


.card__image > img {
    width: 100%;
    border-radius: 4%;
}

.card__description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px 0 20px;
}
.card__description > h1{
    font-family: "outfit-regular";
    color: hsl(0, 0%, 100%);
    font-size: 20px;

}
.card__description > h1:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}
.card__description > p{
    font-family: "outfit-light";
    color: hsl(215, 51%, 70%);
    font-size: 16px;
    margin: 10px 0 10px 0;
    line-height: 25px;
}
.card__value{
    display: flex;
    flex-direction: row;
    margin: 10px 0 18px 0;
    
}
.ethereum{
    display: flex;
    flex-direction: row;
    font-family: "outfit-semiBold";
    color: hsl(178, 100%, 50%);
    font-size: 15px;
    margin-right: 100px;
    
}

.ethereum > p{
    padding-left: 8px;
}
.clock{
    display: flex;
    flex-direction: row;
    font-family: "outfit-regular";
    color:hsl(215, 51%, 70%);
    font-size: 14px;
}

.clock > p{
    padding-left: 8px;
}
hr{
    display: block;
    height: 1px;
    width: 90%;
    border: 0;
    border-top: 1px solid #2f415b;
    margin-bottom: 18px;
    padding: 0;
}
.card__author{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 20px;
}
.card__author > img{
    width: 35px;
    border: white 1px solid;
    border-radius: 50%;
    margin-right: 15px;
}
.card__author > p{
    font-family: "outfit-light";
    color:hsl(215, 51%, 70%);
}
.card__author > p > span{
    color:hsl(0, 0%, 100%);
}
.card__author > p > span:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 30px;
}
.attribution a { color: hsl(228, 45%, 44%); }